{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 140,
  "tabWidth": 4,
  "arrowParens": "always",
  "bracketSpacing": true,
  "semi": false,
  "plugins": [
    "prettier-plugin-organize-imports"
  ]
}